@import '../../../../globals';
$ti-product-list-width: 100vw - $ti-sidebar-width;

.product-list {
  position: fixed;
  right: 0;
  width: $ti-product-list-width;
  overflow-y: auto;
  height: $ti-sidebar-height;
  padding: 15px;
}
