@import '../../../../globals';

.productListItem {
  background-color: white;
  margin: 10px 0;
  padding: 30px 15px;

  .tittle {
    margin: 0;
  }

  .subTittle {
    color: rgb(149, 149, 149);
    font-weight: 500;
  }

  .productDescription {
    margin-top: 30px;
    display: flex;

    .section {
      margin: 0 40px 0 80px;

      .sectionPhoto {
        width: 90px;
        height: 90px;
      }

      .sectionSm {
        width: 140px;
      }
      .sectionLg {
        width: fit-content;
      }
    }
  }
}
