@import '../../globals';

.nav {
  background-color: $ti-primary-color;

  .navItem {
    font-weight: 500;

    &.navActive,
    &:hover {
      background-color: $ti-active-color;
    }
    &.navActive::after {
      content: '';
      position: absolute;
      z-index: 1;
      border-bottom: 2px solid #d500f9;
      display: block;
      bottom: 0%;
      right: 0%;
      width: 100%;
    }
  }
}
