@import '../../../../_globals';

.sidebar {
  position: fixed;
}

.sidebar,
.sidebarList {
  height: $ti-sidebar-height;
  width: $ti-sidebar-width;
}

.sidebarList {
  .activeItem {
    background-color: $ti-primary-color;
  }
}
